body{
  background-color: #f3bc92;
}

.sidebar{
  height: 120000px;
  width: 20%;
  min-width: 150px;
  max-width: 300px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #111;
  padding:0px 0px 20px 0px;
  box-sizing: border-box;
  margin-right: 10px;
 
}

.sidebar a{
  padding: 10px ;
  text-decoration: none;
  font-size: 1.8vw;
  color: #818181;
  display: block;
  transition: left 0.3s ease;
}

.sidebar a:hover{
  color: #f1f1f1;
  background-color: blue;
  font-stretch: expanded;
  font-weight: bold;
  font-size: 2vw;

}

.content{
  margin-left: 150px;
  padding: 200vw;
  transition: margin-left 0.3s ease;
}

.navbar{
  background-color: #f1f1f1;
  height: 20px;
}

.image{
  float: left;
  width: 30vw;
  border-radius: 1em 0em 3em 0em;
  padding-right: 1em;
  box-shadow: 20px black;

}

.navbar-default{
  background-color: #22b5f6;
  position: fixed;
  width: 100vw;
  min-height: 50px;
  margin-bottom: 20px;

}

.description{
  box-sizing: border-box;
  border-radius: 1em 0em 3em 0em;
  border: 2px solid black;
  height: 30vw;
  text-align: justify-all;
  background-color: white;
  font-size-adjust: inherit;
   font-size: 1.5em;
  

}

.details{
  font-size: 40vw;
  padding: 1em;
  padding-top: 0em;

font-size: 0.7em;
}

.jumbotron{
  background-color: #22bbe4;
 }


.items{
  background-color: #fe801f;
  height: 20vw;
  width: 100vw;
  max-height: 80px;
  align-items: center;
  text-align: center;
  margin: auto;
  position: relative;
  bottom: 1000px;

}

.steven{
  font-size: 1.2em;
  font-weight: bold;
}


#sidebar_button{
  position: fixed;
  left: 5px;
  top: 2px;
  padding: 3px;

}

.icon-bar{
  padding: 1px;
  margin: 3px;
}

a, img{
  text-decoration: none;
  outline-style: unset;
  color: inherit;
  un
}
#demo{
  background-color: #ac801fff;
  max-width: 25vw;
  width: 300px;
}

.offcanvas-header{
  background-color: blue;
  margin-bottom: 10px;
}

#pages{
  text-decoration-line: none;

}

.page-item{
  margin-top: 0px;
  padding: 2px;
  margin: 2px;
  color: black;
  padding-top: 0px;
  font-size: 1.3em;

}

#pages p:hover{
  background-color: white;
  font-size: 1.7em;
  font-weight: bold;
}

.contacts{
  background-color: #fe801f50;
  height: 150px;
  margin-top: 20px;
}

.socials{
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.socials img:hover{
  width: 25px;
  border: 5px blue;
  transform: rotate(-2deg);
  transform: translateY(-2px);
  text-decoration-line: none;
}

.copyright{
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}

.back_to_top{
  text-align: right;
}

