h1{text-align: center;}

body {}
section
{
background-color: grey;
border: 2px solid black;

position: relative; 
margin-left: auto;
margin-right: auto;
margin-bottom: 8px;

}
#gap
{
position: relative;

}

#beef{background-color:  red; color:white;width: 80px}
#chicken{background-color:  pink;width: 80px }
#sushi{background-color: yellow; width: 80px}

p{padding: 10px; margin-top: 25px;
	position: relative;
}

.menu {
border: red;
border-width: 5px;
text-align: center;
font-weight: bold;
padding:3px;
border: 3px solid black;
position: absolute;
margin-left: auto;
top: 5px;
right: 5px;

}

@media (min-width:992px){
	.first{width: :32%; float: left;}
	.second{width:32%; float: left;margin-right: 15px}
	.third{width:32%; float: left;margin-right:}
}

@media (min-width:768px) and (max-width: 991px){
	.second{width: 48%; float: left; clear:right; margin-right: 15px; right: -8px }
	.third{width: 100%; float: left}

}
@media (max-width:767px){
	section{width: 100%}
}

